---

- name: Debian | Ensure apt-transport-https and gpg are present
  ansible.builtin.apt:
    name: [apt-transport-https, gpg, curl]
    state: present

- name: Download Falco Apt signing key  # noqa command-instead-of-module
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl -fsSL "{{ falco_repo_key }}" | gpg --dearmor -o /usr/share/keyrings/falco-archive-keyring.gpg
  args:
    executable: /bin/bash
    creates: /usr/share/keyrings/falco-archive-keyring.gpg
  environment:
    http_proxy: "{{ proxy_url | default(omit) }}"

- name: Install falcosecurity apt source
  vars:
    pkg_name: "{{ 'deb-dev' if (falco_dev) else 'deb' }}"
  ansible.builtin.deb822_repository:
    name: falcosecurity
    types: deb
    uris: " https://download.falco.org/packages/{{ pkg_name }}"
    suites: stable
    components: main
    signed_by: /usr/share/keyrings/falco-archive-keyring.gpg

- name: Debian | Install kernel headers
  ansible.builtin.apt:
    name: "{% if 'pve' in ansible_facts['kernel'] %}pve-headers-{{ ansible_facts['kernel'] }}{% else %}linux-headers-{{ ansible_facts['kernel'] }}{% endif %}"
    state: present
  ignore_errors: true
  register: pkg_result
  until: pkg_result is success

- name: Debian | Install falco
  ansible.builtin.apt:
    name: "{{ falco_pkgs }}"
    state: present
    update_cache: yes
  environment: "{{ falco_install_env | default(omit) }}"
  register: pkg_result
  until: pkg_result is success
