---

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}.yml"
        - "{{ ansible_facts['os_family'] }}.yml"
      paths:
        - 'vars'

- name: Driver modern-ebpf | Set fact
  ansible.builtin.set_fact:
    falco_install_env:
      FALCO_DRIVER_CHOICE: modern_ebpf
  when:
    - falco_mode == 'modern-ebpf'

- name: Driver others | Set fact
  ansible.builtin.set_fact:
    falco_pkgs: "{{ falco_pkgs + ['dkms'] }}"
  when:
    - falco_mode != 'modern-ebpf'

- name: Import helm
  ansible.builtin.import_tasks: helm.yml
  when: falco_k8s_helm | bool

- name: Import falco (distrib package)
  ansible.builtin.import_tasks: falco.yml
  when: not falco_k8s_helm | bool

- name: Import falcoctl
  ansible.builtin.import_tasks: falcoctl.yml
  when: falcoctl_enabled | bool
