---

- name: Redhat | install falcosecurity repository key
  ansible.builtin.rpm_key:
    state: present
    key: "{{ falco_repo_key }}"
    validate_certs: "{{ falco_rpm_validate_certs | default('yes') }}"
  register: pkg_result
  until: pkg_result is success

- name: Redhat | install falcosecurity repository
  vars:
    repo_name: "{{ 'falcosecurity-rpm-dev.repo' if (falco_dev) else 'falcosecurity-rpm.repo' }}"
  ansible.builtin.get_url:
    url: "https://falco.org/repo/{{ repo_name }}"
    dest: /etc/yum.repos.d/falcosecurity.repo
    mode: 0644
    validate_certs: "{{ falco_rpm_validate_certs | default('yes') }}"

- name: Redhat | kernel-devel install
  ansible.builtin.yum:
    name: "kernel-devel-{{ ansible_kernel }}"
    state: present
    update_cache: yes
  ignore_errors: true
  register: pkg_result
  until: pkg_result is success

- name: Redhat | falco install
  ansible.builtin.yum:
    name: "{{ falco_pkgs }}"
    state: present
    update_cache: yes
  register: pkg_result
  until: pkg_result is success
