---

- name: Systemd
  when: ansible_service_mgr == 'systemd'
  block:
    - name: Install unit - {{ unit_name }}
      block:
        - name: Ensure override folder exists
          ansible.builtin.file:
            path: "/etc/systemd/system/falcoctl-artifact-follow.service.d"
            state: directory
            mode: '0755'
            owner: root
        - name: Configure override for falcoctl-artifact-follow
          ansible.builtin.copy:
            content: |
              [Service]
              EnvironmentFile={{ falco_webproxy_env_file }}
            dest: "/etc/systemd/system/falcoctl-artifact-follow.service.d/environment.conf"
            mode: '0644'
            owner: root
          when:
            - falco_webproxy_env_enable | bool
            - falco_webproxy_env_file | length > 0
            - falco_webproxy_env_content | length == 0
        - name: Environment file
          when:
            - falco_webproxy_env_enable | bool
            - falco_webproxy_env_file | length > 0
            - falco_webproxy_env_content | length > 0
          block:
            - name: Set custom env file for falcoctl-artifact-follow
              ansible.builtin.copy:
                content: "{{ falco_webproxy_env_content }}"
                dest: "{{ falco_webproxy_env_file }}"
                mode: '0640'
                owner: root
                group: root
      rescue:
        - name: Import immutable
          ansible.builtin.import_tasks: immutable.yml
          vars:
            target_dir: /etc/systemd/system
            state: pre
        - name: Import immutable
          ansible.builtin.import_tasks: immutable.yml
          vars:
            target_dir: "/etc/systemd/system/{{ unit_name }}.service.d/environment.conf"
            state: pre
        - name: Ensure override folder exists (immutable)
          ansible.builtin.file:
            path: "/etc/systemd/system/falcoctl-artifact-follow.service.d"
            state: directory
            mode: '0755'
            owner: root
        - name: Configure override for falcoctl-artifact-follow (immutable)
          ansible.builtin.copy:
            content: |
              [Service]
              EnvironmentFile={{ falco_webproxy_env_file }}
            dest: "/etc/systemd/system/falcoctl-artifact-follow.service.d/environment.conf"
            mode: '0644'
            owner: root
        - name: Import immutable
          ansible.builtin.import_tasks: immutable.yml
          vars:
            target_dir: /etc/systemd/system
            state: post
        - name: Import immutable
          ansible.builtin.import_tasks: immutable.yml
          vars:
            target_dir: "/etc/systemd/system/{{ unit_name }}.service.d/environment.conf"
            state: post
