---

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker" or ansible_virtualization_type == "containerd")
        )

- name: Restart falco
  ansible.builtin.service:
    name: falco
    state: restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker" or ansible_virtualization_type == "containerd")
        )

- name: Restart rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker" or ansible_virtualization_type == "containerd")
        )

- name: Falco global check
  ansible.builtin.command:
    cmd: '{% if falco_libresolve_workaround | bool %}env LD_PRELOAD={{ falco_libresolve_path }} {% endif %}/usr/bin/falco -v -L'
  changed_when: false
