---

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when:
    - not is_container | bool

- name: Restart falco
  ansible.builtin.service:
    name: falco
    state: restarted
  when:
    - not is_container | bool

- name: Restart falcoctl-artifact-follow
  ansible.builtin.service:
    name: falcoctl-artifact-follow
    state: restarted

- name: Restart rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: restarted
  when:
    - not is_container | bool

- name: Falco global check
  ansible.builtin.command:
    cmd: '{% if falco_libresolve_workaround | bool %}env LD_PRELOAD={{ falco_libresolve_path }} {% endif %}/usr/bin/falco -v -L'
  changed_when: false
