{{ ansible_managed | comment }}
## /etc/logrotate.d/falco
{{ falco_syslog_target }} {
    rotate {{ falco_logrotate_days|int }}
    daily
    missingok
    notifempty
    delaycompress
    compress
    create 640 root adm
    sharedscripts
}
