{{ ansible_managed | comment }}
## /etc/logrotate.d/falco
{{ falco_syslog_target }} {
    rotate {{ falco_logrotate_days|int }}
    daily
    missingok
    delaycompress
    compress
    create 640 {{ syslog_user }} adm
    sharedscripts
{% if falco_reporting %}
    prerotate
        test ! -x /usr/local/scripts/{{ falco_reporting_template | basename }} || sudo -u syslog /usr/local/scripts/{{ falco_reporting_template | basename }} 2>&1 | sudo -u syslog tee {{ falco_reporting_dest }}/falco-report-`date +%Y%m%d` >/dev/null
    endscript
{% endif %}
}
