{{ ansible_managed | comment }}
{% if falco_syslog_target is defined and falco_syslog_target != '' %}
if $programname == 'falco' then            {{ falco_syslog_target }}
{% if rsyslog_v is defined and rsyslog_v and rsyslog_v|string is version('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
{% endif %}
