{{ ansible_managed | comment }}
{% if falco_syslog_target is defined and falco_syslog_target != '' %}
if $programname == 'falco' then            {{ falco_syslog_target }}
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout|int is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
{% endif %}
